<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-2 shadow p-3">
        <div class="form-floating mb-3 tetx-center">
          <h2 class="text-center text-warning">Add Student</h2>
        </div>
        <div class="form-group mb-3">
          <label for="firstname" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Enter student name"
            name="firstname"
            [(ngModel)]="first_name"
          />

        </div>
        <div class="form-group  mb-2">
          <label for="lastName"class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Enter student last"
            [(ngModel)]="last_name"
          />

        </div>
        <div class="form-group  mb-2">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter student email"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group  mb-3">
          <label for="mobile" class="form-label">Mobile</label>
          <input
            type="text"
            class="form-control"
            id="mobile"
            placeholder="Enter student mobile"
            name="mobile"
            [(ngModel)]="mobile"
          />
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addStudent()"
        >
          Add Student
        </button>
      </div>
    </div>
    <div class="col-auto">
      <div class="d-none d-md-flex">
        <a
          class="nav-link px-0"
          title="Enable dark mode"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          (click)="onClickThemeMode('dark')"
          *ngIf="!isDarkThemeSelected"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
            />
          </svg>
        </a>
        <a
          (click)="onClickThemeMode('light')"
          class="nav-link px-0"
          title="Enable light mode"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          *ngIf="isDarkThemeSelected"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path
              d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
            />
          </svg>
        </a>
        <div class="card-body ms-auto">
          <form>
              <button type=button class="btn " (click)="register('name')">  Logout</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <h5 class="text-danger">Student List</h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let studnet of studentsList">
                <td>{{ studnet.first_name }}</td>
                <td>{{ studnet.last_name }}</td>
                <td>{{ studnet.email }}</td>
                <td>{{ studnet.mobile }}</td>
                <td>
                  <button
                    class="btn btn-outline-danger"
                    (click)="deleteStudent(studnet)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
